#current-location-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

#current-location-button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 400px) {
    .submitButton {
        margin-bottom: 8px;
    }
}